<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload CSV e Gabarito</title>
</head>
<body>
    <h1>Upload de CSV para Professores</h1>
    <form id="uploadForm" enctype="multipart/form-data">
        <input type="file" name="file" accept=".csv" required>
        <input type="text" name="Nome Do Exame" placeholder="Nome Do Exame" required>
        <button type="submit">Processar e Salvar Dados</button>
    </form>

    <script>
        // Enviar CSV e Nome do Exame
        document.getElementById('uploadForm').onsubmit = function(event) {
            event.preventDefault();
            const formData = new FormData(event.target);

            fetch('/upload_csv', {
                method: 'POST',
                body: formData
            })
            .then(response => response.text())
            .then(data => alert(data))
            .catch(error => console.error('Error:', error));
        }
    </script>
</body>
</html>